

.user-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  
    .user-details-box {
      background-color: #f0f0f0;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  
      h2 {
        margin-bottom: 10px;
      }
  
      p {
        margin-bottom: 5px;
      }
    }
  }
  